* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "Poppins", sans-serif;
}

button {
    cursor: pointer;
}

.main {
    background: linear-gradient(113.19deg, #B4EDFF -1.46%, rgba(30, 148, 226, 0.54) 107.81%);
    width: 100%;
    min-height: 100vh;
    padding: 32px;
}

.toggle-wrapper {
    position: relative;
    width: 70px;
    height: 30px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 50px;
    cursor: pointer;
}

.toggle-wrapper .toggle-inner {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #006DAA;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
}
.theme-toggle {
    width: 200px;
}

.theme-toggle p {
    margin-top: 8px;
    font-weight: 800;
    font-size: 16px;
}

.search-bar {
    max-width: 700px;
    width: 100%;
    height: 62px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    padding: 4px 32px;
    gap: 40px;
}

.search-bar input {
    flex: 1;
    border: none;
}

.search-bar button {
    background: none;
    border: none;
}

.celsius-toggle {
    width: 180px;
    height: 62px;
    border-radius: 40px;
    background: #fff;
    display: flex;
    padding: 4px 18px;
    justify-content: space-between;
    align-items: center;
}

.celsius-toggle button {
    background: none;
    border: none;
    width: 60px;
    height: 60px;
    color: #536878;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.celsius-toggle .active {
    font-size: 40px;
    color: #000;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin-bottom: 48px;
}

.container {
    width: 100%;
    display: flex;
    gap: 28px;
    }
    
    .time-block {
    width: 428px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    
    }
    
    .time-block h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 24px;
    }
    
    .time-block h1 {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 18px;
    }
    
    .block {
    background: #fff;
    border-radius: 30px;
    }
    
    .main-block {
    padding: 32px;
    display: flex;
    flex: 1;
    }
    
    .main-block h2 {
    font-size: 66px;
    font-weight: 700;
    background: linear-gradient(80.34deg, #292929 -2.93%, rgba(255, 255, 255, 0) 212.44%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    
    .main-block .feels-like {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 24px;
    }
    
    .main-block .feels-like span {
    font-weight: 700;
    font-size: 24px;
    padding-left: 12px;
    }
    
    .time-info {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 18px;
    }
    
    .main-image {
    width: 200px;
    height: 200px;
    }
    
    .main-image-text {
    font-size: 28px;
    font-weight: 700;
    }
    
    .main-image-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    }
    
    .general-info {
    display: flex;
    flex-wrap: wrap;
    }
    
    .general-info > div {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
    }
    
    .general-info > div .icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .general-info > div .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    }
    
    .general-info .amount {
    font-size: 20px;
    font-weight: 600;
    }