* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "Poppins", sans-serif;
}

button {
    cursor: pointer;
}

.main {
    background: linear-gradient(113.19deg, #B4EDFF -1.46%, rgba(30, 148, 226, 0.54) 107.81%);
    width: 100%;
    min-height: 100vh;
    padding: 32px;
}

.toggle-wrapper {
    position: relative;
    width: 70px;
    height: 30px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 50px;
    cursor: pointer;
}

.toggle-wrapper .toggle-inner {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #006DAA;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
}
.theme-toggle {
    width: 200px;
}

.theme-toggle .dark{
    display: none;
}

.theme-toggle p {
    margin-top: 8px;
    font-weight: 800;
    font-size: 16px;
}

.search-bar {
    max-width: 700px;
    width: 100%;
    height: 62px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    padding: 4px 32px;
    gap: 40px;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
}

.search-bar button {
    background: none;
    border: none;
}

.celsius-toggle {
    width: 180px;
    height: 62px;
    border-radius: 40px;
    background: #fff;
    display: flex;
    padding: 4px 18px;
    justify-content: space-between;
    align-items: center;
}

.celsius-toggle button {
    background: none;
    border: none;
    width: 60px;
    height: 60px;
    color: #536878;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.celsius-toggle .active {
    font-size: 40px;
    color: #000;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin-bottom: 48px;
}

.container {
    width: 100%;
    display: flex;
    gap: 28px;
    }
    
    .time-block {
    width: 428px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    
    }
    
    .time-block h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 24px;
    }
    
    .time-block h1 {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 18px;
    }
    
    .block {
    background: #fff;
    border-radius: 30px;
    }
    
    .main-block {
    padding: 32px;
    display: flex;
    flex: 1;
    justify-content: space-around;
    }
    
    .main-block h2 {
    font-size: 66px;
    font-weight: 700;
    background: linear-gradient(80.34deg, #292929 -2.93%, rgba(255, 255, 255, 0) 212.44%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    
    .main-block .feels-like {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 24px;
    }
    
    .main-block .feels-like span {
    font-weight: 700;
    font-size: 24px;
    padding-left: 12px;
    }
    
    .time-info {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 18px;
    }
    
    .main-image {
    width: 200px;
    height: 200px;
    }
    
    .main-image-text {
    font-size: 28px;
    font-weight: 700;
    }
    
    .main-image-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    }
    
    .general-info {
    display: flex;
    flex-wrap: wrap;
    }
    
    .general-info > div {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
    }
    
    .general-info > div .icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .general-info > div .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    }
    
    .general-info .amount {
    font-size: 20px;
    font-weight: 600;
    }

    .main .container:last-child{
        margin-top: 30px;
    }

    .forecast-block{
        padding: 32px;
    }

    .forecast-block h3{
        text-align: center;
        font-size: 28px;
        font-weight: 700;
    }

    .row{
        display: flex;
        width: 100%;
        align-items: center;
        gap: 10px;
    }

    .row img{
        width: 60px;
        height: 60px;
        object-fit: contain;
    }

    .row .amount{
        font-size: 24px;
        font-weight: 700;
    }

    .row .text{
        font-size: 20px;
        font-weight: 700;
        margin-left: 10px;
    }

    .hourly-block{
        padding: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    .hourly-block h3{
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .hourly-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        max-width: 140px;
        background: linear-gradient(170.72deg, #FFAF57 -12.41%, rgba(246, 250, 217, 0) 163.32%);
        padding: 18px;
        border-radius: 30px;
        justify-content: space-between;
        font-weight: 700;
    }
    .hourly-icon{
        width: 80px;
        height: 80px;
        object-fit: contain;
    }
    .hourly-info.night {
        background: linear-gradient(173.7deg, #928DAC -15.92%, rgba(96, 119, 174, 0) 109.1%);
        }
    .arrow{
        width: 50px;
        height: 50px;
        object-fit: contain;
    }

.hourly-info-wrapper{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.main.dark {
    background: linear-gradient(110.05deg, #383838 0%, rgba(22, 22, 22, 0.5) 71.82%);
    color: #fff;
    }
    
    .main.dark .block {
    background: #292929;
    }
    
    .main.dark .search-bar{
    background: #444444;
    border: none;
    }
    
    .main.dark .search-bar input {
    background: #444444;
    color: #fff;
    }
    .main.dark .toggle-wrapper {
    background-color: #D9D9D9;
    }
    
    .main.dark .toggle-wrapper .toggle-inner {
    background: #000;
    left: unset;
    right: 5px;
    }
    
    .main.dark .theme-toggle .dark {
    display: inline;
    }
    
    .main.dark .theme-toggle .light {
    display: none;
    }
    
    .main.dark .main-block h2 {
    background: linear-gradient(84.4deg, #FFFFFF -16.56%, rgba(255, 255, 255, 0) 118.43%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    
    .main.dark .icon img{
    filter: brightness(0) invert(1);
    }
    
    .main.dark .hourly-info{
    background: #373636;
    }
    
    .main.dark .celsius-toggle {
    background: #6C6C6C;
    }
    
    .main.dark .celsius-toggle button {
    color: #AEAEC2;
    }
    
    .main.dark .celsius-toggle .active {
    color: #fff;
    }
